$header-background-color: #C5B1D2FF;
$products-background-color: #D7D0E7FF;
$form-background-color: #EFBEEFFF;
$card-background-color: #C07A9FFF;
$card-hover-background-color: #dc0397;
$warranties-background-color: #CDE0F1FF;
$testimonials-background-color: white;
$contact-background-color: #EAD8D4FF;
$button-background-color: #98da98;
$button-hover-background-color: #060606;
$button-active-background-color: #6cda6c;

$primary-heading-color: black;
$secondary-heading-color: #C07A9FFF;

$font-size: 1.2rem;
$font-family: 'Arial', sans-serif;

$default-gap: 2rem;