$logo-background-color: #C5B1D2FF;
$card-container-background-color: #D7D0E7FF;
$form-background-color: #EFBEEFFF;
$product-card-background-color: #C07A9FFF;
$product-card-hover-background-color: #dc0397;
$client-card-background-color: blue;
$client-card-hover-background-color: lightblue;
$warranties-background-color: #CDE0F1FF;
$company-name-background-color: $warranties-background-color;
$testimonials-background-color: white;
$contact-background-color: #EAD8D4FF;

$primary-heading-color: black;


$font-size: 1.2rem;
$font-family: 'Arial', sans-serif;

$default-gap: 2rem;