@use "show-borders";

@mixin base-flex {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

@mixin flex-row {
  @include base-flex;
  flex-direction: row;
}

@mixin flex-column {
  @include base-flex;
  flex-direction: column;
}